[[source]]
name = "pypi"
# url = "https://pypi.tuna.tsinghua.edu.cn/simple"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
pillow = "*"
pysocks = "*"
pyquery = "*"
ffmpeg-python = "*"

[requires]
python_version = "3.7"
